doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Learn With experts
    style.
        div {
        text-align: center;
        margin: 15% 30%;
        padding: 16px;
        border-radius: 8px;
        }
.child
    h1 Welcome to Experts With Experts API.
    p Development in progress.
    p
        | Want to contribute
        br
        a(href='https://github.com/VenkateshPothagani/learn-with-experts-api#readme') Click here
